{% extends 'Base_Todo.html' %}

{% block content %} 


<style>
   table {
       width: 100%;
       border-collapse: collapse;
   }
   
   td {
       padding: 8px;
       text-align: left;
       /* border-bottom: 1px solid #ddd; */
   }
   
   td:first-child {
       width: 50%;
   }
   
   td:last-child {
       width: 20%;
   }
   
   td:nth-child(2) {
       width: 20%;
   }
   
   td:nth-child(3) {
       width: 5%;
   }

   
</style>
<div class="todoliststyle">

    
    
    
<table>
    <tr>
    <td><h1 class="headList"> <b>To Do List</b> </h1></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a  style="font-size: 50px;" href="{% url 'create' %}">+</a></td>
</tr>
   {% for item in tasks %}
   {% if item.completed%}
   <tr>
      
      <td><span class="checked_circle"></span><a class = "checked_Task" href="{% url 'details' pk=item.pk %}">{{ item.Name }}</a></label></td>
      <td></td>
      <td><a class="list-link-done" href="{% url 'done' pk=item.pk %}">&#10004;</a></td>
      <td><a class="list-link-edit" href="{% url 'Update' pk=item.pk %}">&#9998;</a></td>
      <td><a href="{% url 'delete' pk=item.pk %}" onclick="return confirm('Are you sure you want to delete this task?');"><span class="fas fa-times-circle"></span></a></td>
    </tr>
    {% endif %}
    {% endfor %}   
    {% for item in tasks %}
    {% if not item.completed%}
    <tr>
        
        <td><span class="unchecked_circle"></span><a class = "NOT_checked_Task" href="{% url 'details' pk=item.pk %}">{{ item.Name }}</a></label></td>
        <td></td>
        <td><a class="list-link-done" href="{% url 'done' pk=item.pk %}">&#10004;</a></td>
        <td><a class="list-link-edit" href="{% url 'Update' pk=item.pk %}">&#9998;</a></td>
        <td><a  href="{% url 'delete' pk=item.pk %}" onclick="return confirm('Are you sure you want to delete this task?');"><span class="fas fa-times-circle"></span></a></td>
    </tr>
    {% endif %}
    {% endfor %}   
    
</table>
</div>
{% endblock %}











<!-- <h1 class="headList"> <b>To Do List</b> <a  style="font-size: 40px;" href="{% url 'create' %}">+</a></h1>
    <div class="column">    
{% for item in tasks %}
   <p>
    {% if item.completed%}
    <span class="checked_circle"></span>
    <a class = "checked_Task" href="{% url 'details' pk=item.pk %}">{{ item.Name }}</a></label>
    <a style="font-size: 25px;" href="{% url 'delete' pk=item.pk %}" onclick="return confirm('Are you sure you want to delete this task?');">&#128465;</a>
    <a style="font-size: 25px;" href="{% url 'Update' pk=item.pk %}">&#9998;</a>
    <a style="font-size: 25px;" href="{% url 'done' pk=item.pk %}">&#10004;</a>
    {% endif %}
    {% endfor %}
   </p>
   {% for item in tasks %}
   <p>
    {% if not item.completed%}
    <span class="unchecked_circle"></span>
    <a class = "NOT_checked_Task" href="{% url 'details' pk=item.pk %}">{{ item.Name }}</a></label>
    <a style="font-size: 25px;" href="{% url 'delete' pk=item.pk %}" onclick="return confirm('Are you sure you want to delete this task?');">&#128465;</a>
    <a style="font-size: 25px;" href="{% url 'Update' pk=item.pk %}">&#9998;</a>
    <a style="font-size: 25px;" href="{% url 'done' pk=item.pk %}">&#10004;</a>
    {% endif %}
    {% endfor %}
</p>
   
</div>


 -->
