{% extends 'base.html' %}

{% block content %} 
<h2 class="fw-bold mb-5">Welcome to Our Site</h2>
<p class="text-center">Stay updated with the latest news and offers!</p>

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}

<div class="text-center mt-4">
    <a id = "register" class="btn btn-primary mx-2" >Register</a>
    <a id = "login" class="btn btn-secondary mx-2" >Login</a>
</div>
{% endblock %}
{% block stylecontent %} 

<script>
    document.getElementById("login").addEventListener("click", function() {
    window.location.href = "{% url 'baselogin' %}";
    });
    document.getElementById("register").addEventListener("click", function() {
    window.location.href = "{% url 'registerpage' %}";
    });
</script>
{% endblock %}


